.sidebar {
  width: 300px;
  transition: width .2s ease;
  padding-top: 8px;

  &.collapsed {
    width: 72px;

    .label {
      display: none;
    }
  }

  .item {
    height: 48px;
    margin: 4px 12px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 0 24px 24px 0;
    cursor: pointer;

    &:hover { background: #f1f3f4; }
    &.active { background: #feefc3; }
  }
}
