<div class="register-page">
  <div class="register-container">
    <div class="register-form">
      <img
        src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_74x24dp.png"
        class="logo"
      />

      <h1>Create your Google Account</h1>

      <form [formGroup]="registerForm">
        <div class="name-row">
          <div class="field float-field">
            <input type="text" formControlName="firstName" placeholder=" " />
            <label>First name</label>
          </div>

          <div class="field float-field">
            <input type="text" formControlName="lastName" placeholder=" " />
            <label>Last name</label>
          </div>
        </div>

        <div class="username-group">
          <div class="field float-field">
            <input type="email" formControlName="email" placeholder=" " />
            <label>Email address</label>
          </div>

          @if (
            registerForm.get('email')?.touched &&
            registerForm.get('email')?.invalid
          ) {
            <p class="error">Enter a valid Gmail address</p>
          }
        </div>

        <div class="name-row password-row">
          <div class="field float-field">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder=" "
            />
            <label>Password</label>
          </div>

          <div class="field float-field">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder=" "
            />
            <label>Confirm</label>
          </div>
        </div>

        <p class="hint">
          Use 8 or more characters with a mix of letters, numbers & symbols
        </p>

        @if (
          registerForm.get('password')?.touched &&
          registerForm.get('password')?.invalid
        ) {
          <p class="error">Use at least 8 characters</p>
        }

        @if (
          registerForm.touched &&
          registerForm.errors?.['passwordMismatch']
        ) {
          <p class="error">Passwords do not match</p>
        }

        <div class="show-password">
          <input type="checkbox" (change)="togglePasswordVisibility()" />
          <label>Show password</label>
        </div>

        <div class="actions">
          <a routerLink="/login" class="link">Sign in instead</a>
          <button type="button" (click)="submit()">
            Next
          </button>
        </div>
      </form>
    </div>

    <div class="register-illustration">
      <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" />
      <p>One account. All of Google working for you.</p>
    </div>
  </div>
</div>
