/* FORCE Material Icons Outlined – DO NOT REMOVE */
.material-icons-outlined {
  font-family: 'Material Icons Outlined' !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 22px;
  line-height: 1;
  display: inline-block;
  text-transform: none !important;
  letter-spacing: normal !important;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
